@charset "utf-8";
/* CSS Document */

.ht1{ width:606px;height:244px;font-size:14px;background:url(../images/HT1.gif) no-repeat;position:absolute;left:27%;top:30%; }
.ht1 p{ float:left;margin-left:230px;display:inline;margin-top:104px }
.ht2{ width:606px;height:244px;font-size:14px;background:url(../images/HT2.gif) no-repeat ;position:absolute;left:27%;top:30%;}
.ht2 p{ float:left;margin-left:260px;display:inline;margin-top:107px }
.ht2 p a{ margin-left:10px; text-decoration:none }
.ht2 p a:hover{ margin-left:10px; text-decoration:underline }
.ht3{ width:606px;height:244px;font-size:14px;background:url(../images/HT3.gif) no-repeat ;position:absolute;left:27%;top:30%;}
.ht3 p{ float:left;margin-left:180px;display:inline;margin-top:92px }
.ht3 p a{ margin-left:10px; text-decoration:none }
.ht3 p a:hover{ margin-left:10px; text-decoration:underline }
.hmain{width:100%; position:absolute;left:50%;top:50%;margin-left:-210px;margin-top:-170px;}